* {
  margin: 0;
  border: 0;
  font-family: sans-serif;
}

:focus {
  outline: 2px teal;
  background-color: antiquewhite;
}

@media screen and (min-width: 750px) {
  header {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}

.container2 {
  top: 90%;
  left: 5%;
}

#header-main nav {
  background-image: url("https://images.unsplash.com/photo-1546387903-6d82d96ccca6?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 240px 3fr;
  grid-template-rows: auto;
  padding-bottom: 20px;
  border-bottom: solid;
  margin-bottom: 30px;
}
#header-main h1 {
  color: rgb(86, 15, 15);
  font-size: 2rem;
  display: flex;
}

#header-main nav ul {
  justify-self: end;
}

#header-main nav ul li {
  display: inline-block;
  list-style: none;
  justify-self: end;
  margin: 40px 0 40px 30px;
}
#header-main nav ul li a {
  color: rgb(22, 77, 77);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}
#header-main nav :hover {
  opacity: 0.8;
}

.container1 {
  background-image: url("https://images.unsplash.com/photo-1508717272800-9fff97da7e8f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70%;
  position: relative;
  flex-direction: column;
}

#messageform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 10px;
  border: solid;
}

.submit {
  background-color: aqua;
  font-weight: bold;
  transition: transform 1s;
}

#messageform #name {
  border: solid;
  width: 60%;
  height: 40px;
  padding: 5px;
}

#messageform #message {
  border: solid;
  width: 90%;
  height: 100px;
}

.rating {
  position: relative;
  transform: translate(-50% -50%);
  color: yellow;
}

.rating label {
  cursor: pointer;
  background: yellow;
  content: "\f005";
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  border-top: solid;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 1rem;
  gap: 10px;
}
.comments #message {
  font-style: bold;
}
