* {
  margin: 0;
  border: 0;
  font-family: sans-serif;
}

:focus {
  outline: 2px teal;
  background-color: antiquewhite;
}

@media (max-width: 600px) {
  .body {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container2 {
    top: 90%;
    left: 5%;
  }
}
#header-main nav {
  display: grid;
  grid-template-columns: 240px 3fr;
  grid-template-rows: auto;
  padding-bottom: 20px;
  border-bottom: solid;
  margin-bottom: 30px;
}
#header-main h1 {
  color: rgb(86, 15, 15);
  font-size: 2rem;
  display: flex;
}

#header-main nav ul {
  justify-self: end;
}

#header-main nav ul li {
  display: inline-block;
  list-style: none;
  justify-self: end;
  margin: 40px 0 40px 30px;
}
#header-main nav ul li a {
  color: rgb(22, 77, 77);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
#header-main nav :hover {
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70%;
  position: relative;
  flex-direction: column;
}
body {
  background-image: url=
    (
      "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fvideos%2Ffloral-border&psig=AOvVaw2q98Ipsemq4PrCv8gq2vCt&ust=1712945382821000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKCJ8fzguoUDFQAAAAAdAAAAABAE"
    );
  background: cover;
}
#messageform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 10px;
  border: solid;
}

.submit {
  background-color: aqua;
  font-weight: bold;
  transition: transform 1s;
}

#messageform #username {
  border: solid;
  width: 60%;
  height: 40px;
  padding: 10px;
}

#messageform #message {
  border: solid;
  width: 100%;
  height: 100px;
}
